<!-- <h1 class="font-bold">{{ authed ? '1' | '2' }}</h1> -->

<div class="flex flex-col" *ngIf="authed; else elseBlock">
  <button class="justify-self-end m-2" (click)="signOut()">Выйти</button>
  <app-order
    *ngFor="let order of orders"
    [order]="order"
    [_id]="order._id"
  ></app-order>
</div>
<ng-template #elseBlock>
  <div class="container flex justify-center items-center flex-col h-screen">
    <h2 class="mb-4 font-medium uppercase">Вход в личный кабинет менеджера:</h2>
    <form
      [formGroup]="checkoutForm"
      (ngSubmit)="onSubmit()"
      class="flex flex-col w-24"
    >
      <label for="login">Логин:</label>
      <input
        id="login"
        type="text"
        formControlName="login"
        class="mb-4"
        placeholder="manager"
      />
      <label for="password">Пароль:</label>
      <input
        id="password"
        type="password"
        formControlName="password"
        class="mb-4"
        placeholder="password123"
      />
      <button class="border" type="submit">Войти</button>
    </form>
  </div>
</ng-template>
